:root {
  --heading-font: 'Jetbrains Mono', monospace;
  --body-font: 'Alegreya', serif;
  --subheading-font: 'Jetbrains Mono', monospace;
  --background-color: #18393d;
  --gallery-color: #2d5357;
  --opposite-color: #FFFB00;
  --text-color: #ffffff;
  --text-background: #E2E1D4;
  --dark-text-color: #0A2427;
  --subheading-color: #72210A;
  --link-color: #1bd2b3;
  --accent-cool: #1bd2b3;
  --accent-warm: #1bd2b3;
  --planet-brightness: 1;
  --shadow-color: black;
}

[planet-size="large"] {
  --planet-height: 100vh;
}

[planet-size="small"] {
  --planet-height: 50vh;
}

.App {
  text-align: center;
  scroll-behavior: smooth;
}

html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  background-color: var(--background-color);
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/images/paper_texture.webp');
  pointer-events: none;
  mix-blend-mode: color-dodge;
  background-size: cover;
}

p {
  align-self: left;
  text-align: left;
  line-height: 1.5em;
  font-size: 1em;
  margin-top: 6px;
  margin-bottom: 6px;
}

a {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none !important;
  transition: 0.3s;
  border-bottom: 3px solid var(--link-color);
  font-weight: bolder;
}

details {
  width: unset;
}

summary {
  display: block;
  color: var(--text-color);
  text-decoration: none !important;
  transition: 0.3s;
  border-bottom: 3px solid var(--link-color);
  font-weight: bolder;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 1.25em;
}

code {
  display: block;
  width: 100%;
  overflow: scroll;
  max-width: 100%;
  word-wrap: break-word
}


.site-header {
  color: var(--opposite-color);
  text-decoration: none;
  border-bottom: none;
}

h1 {
  text-decoration: none !important;
  transition: 0.3s;
  font-family: var(--heading-font);
  font-size: max(1.75vw, 1em);
  font-weight: bold;
  padding: 0;
  margin: 0;
  border-bottom: none !important;
}

.sidebar h1 {
  line-height: 1;
  font-size: 5vh !important;
  text-decoration: none;
  margin-bottom: 3vh;
  border-bottom: none !important;
}

.gallery h1 {
  line-height: 1.2;
  margin-bottom: 3vh;
  font-size: 5vh !important;
  width: 70%;
  text-align: left;
}

h2 {
  color: var(--subheading-color);
  font-weight: 700;
  font-size: 1.4em;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 8px;
}

.sidebar {
  position: fixed;
  width: 22%;
  text-decoration: none !important;
  padding: 8vh;
}

.gallery {
  background-color: var(--gallery-color);
  align-items: left;
  align-content: left;
  margin-left: 30%;
  width: 70%;
  max-width: 70%;
  overflow-x: hidden;
  text-align: justify !important;
  min-height: 100vh;
}

.masonry-container {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.masonry-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1vw;
}

th {
  font-weight: normal;
  vertical-align: top;
}

table {
  max-width: 70vw;
  overflow-x: hidden;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: 0.5s;
}

.fadeIn {
  opacity: 0;
  transition: 0.3s;
}

.expanded {
  width: 100%;
  height: auto;
  margin-bottom: 2vh;
}

.image {
  overflow: hidden;
  transition: 0.1s;
  display: inline-block;
  align-items: left;
  align-self: left;
  position: relative;
  border-radius: 0px;
  border-bottom: none;
}

.image:hover .cover {
  filter: brightness(0.2);
}

.image-small {
  width: 12.5vw;
  height: 12.5vw;
  margin-bottom: 1vw;
  overflow: hidden;
  transition: 0.5s;
  display: inline-block;
  align-items: left;
  align-self: left;
  float: left;
}

.image:hover .cover {
  cursor: pointer;
}

.image-small:hover {
  filter: brightness(0.2);
  cursor: pointer;
}

.image-wide {
  position: relative;
  width: 100%;
  display: inline-block !important;
  height: auto !important;
  transition: 0.3s;
  margin-bottom: 1vh;
}

.background-black {
  background-color: #000000;
}

.split-column {
  width: 48%;
  margin-right: 1%;
  margin-bottom: 1%;
  display: inline-block;
}

.gallery-title {
  position: absolute;
  top: 8px;
  padding: 32px;
  left: 0;
  width: calc(100% - 64px);
  height: 100%;
  opacity: 0;
  transition: 0s;
  font-weight: bold;
  font-family: var(--subheading-font);
  font-size: 3vh;
  color: var(--opposite-color);
  line-height: 1.3;
}

.gallery .text-section {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  justify-content: flex-start;
  font-family: var(--body-font);
  color: var(--dark-text-color);
  background-color: var(--text-background);
  padding: 24px 36px;
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 2px;
}

.text-section h1 {
  color: var(--subheading-color);
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.25;
  margin-top: 16px;
  margin-bottom: 16px;
}

.text-section a {
  color: var(--dark-text-color);
  transition: 0.3s;
  border-bottom: 3px solid var(--subheading-color);
  font-weight: bolder;
}

blockquote {
  color: var(--dark-text-color);
  transition: 0.3s;
  border-left: 3px solid var(--subheading-color);
  margin-left: 24px;
  padding-left: 16px;
}

.main-bio p {
  font-size: 1.25em;
}

.gallery-title p {
  text-align: center;
  margin: auto;
}

.image:hover .gallery-title {
  opacity: 1;
  transition: 0.5s;
}

.indent {
  margin-left: 5vw;
}

.big-button {
  width: 100%;
  padding: 3%;
  background-color: var(--link-color);
  color: var(--background-color);
  text-align: center;
  transition: 0.3s;
  border: none;
  border-radius: 0px;
  font-family: var(--heading-font);
  font-size: 2em;
  margin-bottom: 3%;
}

.big-button:hover {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.close {
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 10000;
  width: 3vh;
  height: 3vh;
  color: white;
  cursor: auto;
  filter: brightness(1);
  transition: 0.3s;
}


.close:hover {
  cursor: pointer;
  filter: brightness(0.5);
}

.footer {
  margin-top: 10vw;
  width: 100%;
  float: center !important;
  align-self: center !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.footertext {
  font-size: 1em !important;
  margin-left: auto;
  margin-right: auto;
  width: fit-content !important;
  text-align: center !important;
  float: center !important;
  align-self: center !important;
  align-items: center !important;
}

.center {
  position: absolute;
  top: 90%;
  left: 50%;
}

.img-title {
  width: 35vw;
  text-align: justify;
  font-weight: bold !important;
}

.warm {
  background-color: var(--accent-warm);
  padding-left: 4px;
  padding-right: 4px;
}

.cool {
  background-color: var(--accent-cool);
  padding-left: 4px;
  padding-right: 4px;
}

.small {
  font-size: 0.7em;
}

.stack-link {
  margin-bottom: 8px;
}

.img-description {
  width: 50vw;
  text-align: justify !important;
  margin-bottom: 5vh;
}

.navlink {
  cursor: auto;
  display: block;
  clear: both;
  line-height: 1.25em;
  font-size: 1.25em;
  color: var(--text-color);
  text-decoration: none !important;
  font-family: var(--body-font);
  font-weight: 400;
  border-radius: 0px;
  border: 0px;
  margin-bottom: 10px;
  width: fit-content;
  opacity: 1 !important;
  margin-right: 15px;
  border-bottom: none !important;
}

.navlink:hover {
  cursor: pointer;
  opacity: 1 !important;
}

.about-link {
  font-family: var(--subheading-font);
}

.badge {
  margin-top: 2vh !important;
  display: flex !important;
}

li {
  margin: 0;
  padding: 0;
  line-height: 2em;
}

.left {
  text-align: left;
}

th {
  padding-right: 5%;
}

.col {
  width: 60%;
  text-align: justify !important;
}

.carbonbadge {
  display: block;
  float: left;
}

hr {
  height: 4px;
  border: none;
}

video {
  width: 70%;
  height: fit-content;
}

#work-list {
  display: none;
  list-style: none;
}

.sidebar ul {
  list-style: none;
}

.back-link {
  width: fit-content;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.post-preview-metadata {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 12px;
}

.post-preview-metadata p {
  margin-top: 0;
  margin-bottom: 0;
}

.post-tag {
  color: var(--subheading-color)
}

/**********************************************************************************************************************/

@media screen and (orientation:portrait) {

  body {
    padding: 50px;
  }

  p {
    width: 100%;
  }

  video {
    width: 100%;
    height: fit-content;
  }

  .gallery {
    width: 100%;
    word-wrap: break-word;
    padding: 0;
  }

  .gallery pre {
    width: 100%;
  }

  .gallery .text-section {
    padding: 24px 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .masonry-container {
    flex-direction: column;
  }

  h1 {
    text-align: left;
  }

  .about-me {
    width: 100%;
  }

  .image {
    width: 100% !important;
    transition: 0.5s !important;
    height: 50%;
  }

  .image-small {
    width: 100% !important;
    transition: 0.5s !important;
  }

  .image-wide {
    width: 100% !important;
    transition: 0.5s !important;
  }

  .split-column {
    width: 100% !important;
    margin-right: 0vw !important;
  }

  .img-description {
    width: 100% !important;
  }

  .img-title {
    width: 100% !important;
  }

  .sidebar {
    position: relative;
    width: 100%;
  }

  .sidebar p {
    float: center !important;
    margin-left: auto;
    margin-right: auto;
    align-self: center !important;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;

  }

  .navlink {
    display: block;
  }

  .navlink:hover {
    border: 0px;
    opacity: 1 !important;
  }

  .gallery {
    flex-direction: row;
    margin-top: 10%;
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }

  .col {
    width: 100% !important;
  }

  .switch {
    display: block;
    float: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .sun {
    margin-left: -40px !important;
  }

  .moon {
    margin-left: -34px !important;
  }

}