<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!--
    <link href="https://fonts.googleapis.com/css2?family=Oswald&&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap" rel="stylesheet">
    -->
  <link type="application/atom+xml" rel="alternate" href="{{ "/feed.xml" | absolute_url }}" title="{{ site.title | xml_escape }}"/>
  <link rel="icon" type="image/x-icon" href="/assets/images/jitter/jitter1.jpg">
  <title>PORTFOLIO</title>
  <script>
    const expandCollapse = (listID) => {
      console.log("clicked")
      const workList = document.getElementById(listID);
      if (workList.style.display === 'block')
        workList.style.display = 'none';
      else
        workList.style.display = 'block'
    }
  </script>
</head>

<body>
  <div id="root">
    <div class="sidebar">

      <h1 id="title"><a class="site-header" href="/">CAROLINE DINH ✦</a></h1>
      {% for gallery in site.galleries %}
        {% if gallery.parent == 'none' %}
        <a class="navlink" href="{{ gallery.url }}">
          {% if page.title == gallery.title %}
          ✦
          {% endif %}
          {{ gallery.title | upcase }}
        </a>
          {% if page.title == gallery.title or page.parent == gallery.title %}
          <ul id="{{ gallery.title }}-list">
            {% for child in site.galleries %}
            {% if child.parent != 'none' and child.parent == gallery.title %}
            <li><a class="navlink" href="{{ child.url }}">
                {% if page.title == child.title %}
                ✦
                {% endif %}
                {{ child.title | upcase }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        {% endif %}
      {% endfor %}
      <hr>
      <a class="navlink" href="/about">ABOUT</a>
      <a class="navlink" href="/news">NEWS</a>
      <a class="navlink" href="/writing">WRITING</a>
    </div>

    <div class="gallery">
      {% if page.gallery_format == 'newsletter' %}
        {% include post_full.html %}
      {% else %}
      {{ content }}
      {% endif %}
    </div>
  </div>
</body>
</body>

</html>